nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: brown;
    font-size: 50px;
}
nav li:hover{
    background-color: aqua;
}
.drop-down{
    display: none;
    position: absolute;
    background-color: rgb(203, 167, 23);
    padding: 0%;
}
nav >ul >li:hover >ul{
    display: block;
    
}
